{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true
      }
    }
  ]
}
