

<div class="flex w-full min-h-full h-full border">
  <div class="">
    {{> sidebar/logo-area}}
    {{> sidebar/sidebar}}
  </div>

  <div class=" p-2 flex-grow">
    main content
    <h1> this is index</h1>
    {{> welcome}}
  </div>
</div>
