<div class="py-2">
  <div class="flex grid grid-cols-2 gap-4">
    <div class="pt-6">
        <h3 class="font-semibold text-center">Temperature </h3>
       {{> content/chart/line-chart}}
    </div>

    <div class="pt-6">
        <h3 class="font-semibold text-center">Humidity </h3>
        {{> content/chart/line-chart}}
    </div>
  </div>
</div>