<div class="border-b border-gray-900/10 pb-12">
  <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
    <div class="sm:col-span-4">
      <label for="username" class="block text-sm/6 font-medium text-gray-900">
        Device name
      </label>
      <div class="mt-2">
        <div
          class="flex items-center rounded-md bg-white pl-3 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600"
        >
          <input
            type="text"
            name="username"
            id="username"
            class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
            placeholder="Smart doorbell"
          />
        </div>
      </div>
    </div>

    <div class="col-span-full">
      <label for="about" class="block text-sm/6 font-medium text-gray-900">
        Device description
      </label>
      <div class="mt-2">
        <textarea
          name="about"
          id="about"
          rows="3"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
        ></textarea>
      </div>
    </div>
  </div>
  
  {{> content/cards/prev-next-buttons showPrevStep=false}}

</div>