<div class="border-b border-gray-900/10 pb-12">
  <h2 class="text-base/7 font-semibold text-gray-900">
    Device Information
  </h2>
  <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
    <div class="sm:col-span-3">
      <label
        for="company-name"
        class="block text-sm/6 font-medium text-gray-900"
      >
        IMEI Number
      </label>
      <div class="mt-2">
        <input
          type="text"
          name="company-name"
          id="company-name"
          autocomplete="given-name"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
        />
      </div>
    </div>
    <div class="sm:col-span-3">
      <label
        for="company-name"
        class="block text-sm/6 font-medium text-gray-900"
      >
        Serial Number
      </label>
      <div class="mt-2">
        <input
          type="text"
          name="company-name"
          id="company-name"
          autocomplete="given-name"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
        />
      </div>
    </div>
    <div class="sm:col-span-3">
      <label
        for="company-name"
        class="block text-sm/6 font-medium text-gray-900"
      >
        Username
      </label>
      <div class="mt-2">
        <input
          type="text"
          name="company-name"
          id="company-name"
          autocomplete="given-name"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
        />
      </div>
    </div>
    <div class="sm:col-span-3">
      <label
        for="company-name"
        class="block text-sm/6 font-medium text-gray-900"
      >
        Password
      </label>
      <div class="mt-2">
        <input
          type="text"
          name="company-name"
          id="company-name"
          autocomplete="given-name"
          class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
        />
      </div>
    </div>
  </div>
  <div class="pt-4 flex">
    <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">Good connection</span>
    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">No connection</span> 
    <button type="button" class="ml-auto rounded-md bg-emerald-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-emerald-400">Check connectivity</button>
 
  </div>
 
  {{> content/cards/prev-next-buttons showPrevStep=true}}
</div>